{% extends 'index/index.html' %}

{% block header_index %}
{% endblock header_index %}

{% block buscador_j %}
    
    <form action={% url 'busqueda_curso' %} method="get">
        {% csrf_token %}

        <table>
            {{buscador.as_table}}
        </table>

        <input type="submit" placeholder="Buscar">
    </form>

    {% if dato %}
        Se busco por el dato {{dato}}
        {% for curso in cursos_buscados %}
        <li>
            {{curso}}
        </li>
        {% endfor %}
    {% else %}
        No se busco nada...
    {% endif %}

{% endblock buscador_j %}

{% block body_block %}
{% endblock body_block %}