{% extends 'index/index.html' %}

{% block header_index  %}
{% endblock header_index %}


{% block formulario %}

<p>
    <a href={% url 'listado_post' %}>Volver</a>
</p>

    <form action={% url 'crear_post' %} method="post", enctype="multipart/form-data">

        <img src="{{object.pic.url}}" alt="">

        {% csrf_token %}

        <table>
            {{formulario.media}}
            {{formulario.as_table}}
        </table>

        <input type="submit" placeholder="Postear">
    </form>

{% endblock formulario %}