{% extends 'index/index.html' %}

{% block header_index %}
    <a href={% url 'crear_post'%}>Crear un post</a>
{% endblock header_index %}

{% block buscador_j %}
    
   <p>
       <a href={% url 'listado_post'%}>Volver</a>
   </p>

   <p>
        <li>Titulo: {{object.titulo}}</li>
        <li>Post: {{object.post | safe }}</li>
        <li>Autor: {{object.autor}}</li>
        {% if object.pic %}
            <li>Pic: <img src="{{object.pic.url | safe }}" alt="no hay imagen aún" height='50'></li>
        {% else %}
            <li>No hay imagen en el post</li>
        {% endif %}
        <li>Fecha: {{object.fecha | date:'d-m-Y H:m'}}</li>
   </p>

    

{% endblock buscador_j %}

{% block body_block %}
{% endblock body_block %}