{% extends 'index/index.html' %}

{% block header_index %}
    <a href={% url 'crear_estudiante'%}>Crear un estudiante</a>
{% endblock header_index %}

{% block buscador_j %}
    
   
    {% for estudiante in listado_estudiantes %}
        <li>
            <a href={% url 'detalle_estudiante' estudiante.id %}>Leer más</a> |

            <!--{{estudiante}}-->
            <a href={% url 'actualizar_estudiante' estudiante.id %}>Editar</a> |
            <a href={% url 'borrar_estudiante' estudiante.id %}>Borrar</a>
        </li>
    {% endfor %}
    

{% endblock buscador_j %}

{% block body_block %}
{% endblock body_block %}